@model TeslaPower.Models.Design
@using (Html.BeginForm("ViewDesignById", "Design"))
{
    <div class="Formlayout">
        <h2 style="text-shadow:1px 2px 6px white;letter-spacing:2.0px;">New Design</h2>
        <div style="background-color:teal; padding:10px; color:white;">
            <div style="font-size:130%;font-weight:200">
                <center>
                    <div style="font-size:small; background-color:white;width:250px">
                        @Html.ValidationSummary(false, "", new { @class = "alert-danger", style = "color:red" }, "h4")
                    </div>
                </center>                
                <table align="center">                    
                    <tr>
                        <td class="EmptyLbl" width="130"></td>
                        <td class="lbl"> Di No *</td>
                        <td class="lbl"> Rating *</td>
                        <td class="lbl"> Type</td>
                        <td class="lbl"> Customer Name *</td>
                        <td class="lbl"> Quantity</td>
                        <td class="lbl"> CRGO/Set(kg) *</td>
                    </tr>
                    <tr>
                        <td class="EmptyLbl" width="130"></td>
                        <td> @Html.TextBoxFor(D => D.DiNo, new { placeholder = "DI No", style = "width:130px" })   </td>
                        <td> @Html.TextBoxFor(D => D.Rating, new { placeholder = "rating", style = "width:130px" })   </td>
                        <td> @Html.TextBoxFor(D => D.Type, new { placeholder = "Type", style = "width:130px" })   </td>
                        <td> @Html.TextBoxFor(D => D.Cname, new { placeholder = "Customer Name", style = "width:180px" })   </td>
                        <td> @Html.TextBoxFor(D => D.Qty, new { placeholder = "Quantity", style = "width:130px" })   </td>
                        <td> @Html.TextBoxFor(D => D.Crgo, new { placeholder = "CRGO / Set", style = "width:130px" })   </td>
                    </tr>
                    <tr>
                        <td class="EmptyLbl" width="130"></td>
                        <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.DiNo, null, new { @class = "errorSpans" }) </td>
                        <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.Rating, null, new { @class = "errorSpans" }) </td>
                        <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.Type, null, new { @class = "errorSpans" }) </td>
                        <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.Cname, null, new { @class = "errorSpans" }) </td>
                        <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.Qty, null, new { @class = "errorSpans" }) </td>
                        <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.Crgo, null, new { @class = "errorSpans" }) </td>
                    </tr>
                    <tr>
                        <th width="130"> Conductor * </th>
                        <td>@Html.DropDownListFor(D => D.Conductor, new SelectList(Enum.GetValues(typeof(Winding))), "Select", new { style = "width:130px" })</td>
                        <td class="EmptyLbl">@Html.ValidationMessageFor(D => D.Conductor, null, new { @class = "errorSpans" })</td>
                    </tr>
                    <tr>
                        <td class="EmptyLbl" width="130"></td>
                        <td colspan="3">
                            <table style="background-color:teal">
                                <tr>
                                    <th colspan="5"> <center>LV</center></th>
                                </tr>
                                <tr>
                                    <td class="lbl"> Size *</td>
                                    <td class="lbl"> Covered Size *</td>
                                    <td class="lbl"> A *</td>
                                    <td class="lbl"> R *</td>
                                    <td class="lbl">Weight *</td>
                                </tr>
                                <tr>
                                    <td> @Html.TextBoxFor(D => D.LvSize, new { placeholder = "Size", style = "width:90px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.LvCSize, new { placeholder = "Covered Size", style = "width:105px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.LvA, new { placeholder = "A", style = "width:45px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.LvR, new { placeholder = "R", style = "width:45px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.LvWeight, new { placeholder = "Weight", style = "width:90px" })   </td>
                                </tr>
                                <tr>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.LvSize, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.LvCSize, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.LvA, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.LvR, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.LvWeight, null, new { @class = "errorSpans" }) </td>
                                </tr>
                            </table>
                        </td>
                        <td colspan="3">
                            <table style="background-color:teal">
                                <tr>
                                    <th colspan="6"> <center>HV</center></th>
                                </tr>
                                <tr>
                                    <td class="lbl"> Type *</td>
                                    <td class="lbl"> Size *</td>
                                    <td class="lbl"> Covered Size *</td>
                                    <td class="lbl"> A *</td>
                                    <td class="lbl"> R *</td>
                                    <td class="lbl">Weight *</td>
                                </tr>
                                <tr>
                                    <td>@Html.DropDownListFor(D => D.HvType, new SelectList(Enum.GetValues(typeof(HvType))), "Select", new { style = "width:70px" })</td>
                                    <td> @Html.TextBoxFor(D => D.HvSize, new { placeholder = "Size", style = "width:75px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.HvCSize, new { placeholder = "Covered Size", style = "width:105px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.HvA, new { placeholder = "A", style = "width:45px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.HvR, new { placeholder = "R", style = "width:45px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.HvWeight, new { placeholder = "Weight", style = "width:75px" })   </td>
                                </tr>
                                <tr>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.HvType, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.HvSize, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.HvCSize, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.HvA, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.HvR, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.HvWeight, null, new { @class = "errorSpans" }) </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th width="130">Tap Changer*</th>
                        <td>@Html.DropDownListFor(D => D.TapChanger, new SelectList(Enum.GetValues(typeof(TapChanger))), "Select", new { style = "width:130px" })</td>
                        <td class="lbl"> Range</td>
                        <td> @Html.TextBoxFor(D => D.TcRange, new { placeholder = "Range", style = "width:130px" })   </td>
                        <td class="lbl"> Rating</td>
                        <td> @Html.TextBoxFor(D => D.TcRating, new { placeholder = "Rating", style = "width:130px" })   </td>
                        <td class="EmptyLbl">
                            @Html.ValidationMessageFor(D => D.TapChanger, null, new { @class = "errorSpans" })
                            @Html.ValidationMessageFor(D => D.TcRange, null, new { @class = "errorSpans" })
                            @Html.ValidationMessageFor(D => D.TcRating, null, new { @class = "errorSpans" })
                        </td>
                    </tr>
                    <tr>
                        <th width="130">Radiator Type</th>
                        <td>@Html.DropDownListFor(D => D.RadiatorType, new SelectList(Enum.GetValues(typeof(Radiator))), "Select", new { style = "width:130px" })</td>
                        <td class="EmptyLbl">@Html.ValidationMessageFor(D => D.RadiatorType, null, new { @class = "errorSpans" })</td>
                    </tr>
                    <tr>
                        <td class="EmptyLbl" width="130px"></td>
                        <td id="Radiator" colspan="2" class="EmptyLbl">
                            <table>
                                <tr>
                                    <th colspan="2"> <center> Radiator</center></th>
                                </tr>
                                <tr>
                                    <td class="lbl"> Radiator Size </td>
                                    <td class="lbl"> Radiator Quantity</td>
                                </tr>
                                <tr>
                                    <td> @Html.TextBoxFor(D => D.RSize, new { placeholder = "Size", style = "width:130px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.RQty, new { placeholder = "Qty", style = "width:130px" })   </td>
                                </tr>
                                <tr>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.RSize, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.RQty, null, new { @class = "errorSpans" }) </td>
                                </tr>
                            </table>
                        </td>
                        <td id="Panel1" colspan="2" class="EmptyLbl">
                            <table>
                                <tr>
                                    <th colspan="2"><center> Panel 1</center></th>
                                </tr>
                                <tr>
                                    <td class="lbl"> Panel 1 Size </td>
                                    <td class="lbl"> Panel 1 Quantity</td>
                                </tr>
                                <tr>
                                    <td> @Html.TextBoxFor(D => D.p1Size, new { placeholder = "Size", style = "width:130px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.p1Qty, new { placeholder = "Qty", style = "width:130px" })   </td>
                                </tr>
                                <tr>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.p1Size, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.p1Qty, null, new { @class = "errorSpans" }) </td>
                                </tr>
                            </table>
                        </td>
                        <td id="Panel2" colspan="2" class="EmptyLbl">
                            <table>
                                <tr>
                                    <th colspan="2"><center> Panel 2</center></th>
                                </tr>
                                <tr>
                                    <td class="lbl"> Panel 2 Size </td>
                                    <td class="lbl"> Panel 2 Quantity</td>
                                </tr>
                                <tr>
                                    <td> @Html.TextBoxFor(D => D.p2Size, new { placeholder = "Size" , style = "width:130px" })   </td>
                                    <td> @Html.TextBoxFor(D => D.p2Qty, new { placeholder = "Qty" , style = "width:130px" })   </td>
                                </tr>
                                <tr>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.p2Size, null, new { @class = "errorSpans" }) </td>
                                    <td class="EmptyLbl"> @Html.ValidationMessageFor(D => D.p2Qty, null, new { @class = "errorSpans" }) </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="EmptyLbl"></td>
                        <td colspan="6" class="EmptyLbl">
                            <center>
                                <input type="submit" id="btnSubmit" value="Add" /> &nbsp &nbsp
                                <input type="reset" id="btnReset" value="Reset" />
                            </center>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}